{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% load custom_filter %}

{% block content %}

<div class="super_container_inner">
	<div class="super_overlay"></div>
	<!-- Home -->
	<div class="home">
		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url({%static 'images/home.jpg'%})"></div>
					<div class="container fill_height">
						<div class="row fill_height">
							<div class="col fill_height">
								<div class="home_container d-flex flex-column align-items-center justify-content-start">
									<div class="home_content">
										<div class="home_title">Nouvel arrivage !!</div>
										<div class="home_subtitle">Chaussure du moment</div>
										<div class="home_items">
											<div class="row">
												<div class="col-sm-3 offset-lg-1">
													<div class="home_item_side"><a href="product.html"><img
																src="{%static 'images/jaune2.jpg' %}" alt=""></a></div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
													<div class="product home_item_large">
														<div class="product_image"><img
																src="{%static 'images/bleu2.jpg'%}" alt=""></div>
														<div class="product_content">
															<div
																class="product_info d-flex flex-row align-items-start justify-content-start">
																<div>
																	<div>
																		<div class="product_name"><a
																				href="product.html">Nike ZoomAir</a>
																		</div>
																		<div class="product_category"><a
																				href="category.html">5879 UNISEX </a>
																		</div>
																	</div>
																</div>
																<div class="ml-auto text-right">
																	<div class="rating_r rating_r_4 home_item_rating">
																		<i></i><i></i><i></i><i></i><i></i>
																	</div>
																</div>
															</div>
															<div class="product_buttons">
																<div
																	class="text-right d-flex flex-row align-items-start justify-content-start">
																	<!-- <div
																				class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
																				<div>
																					<div><img src="images/heart.svg"
																							alt="">
																						<div>+</div>
																					</div>
																				</div>
																			</div> -->
																	<!-- <div
																				class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
																				<div>
																					<div><img src="images/cart_2.svg"
																							alt="">
																						<div>+</div>
																					</div>
																				</div>
																			</div> -->
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="home_item_side"><a href="product.html"><img
																src="{%static 'images/vert2.jpg' %}" alt="image"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="home_slider_nav home_slider_nav_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>
			</div>
			<div class="home_slider_nav home_slider_nav_next"><i class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots"
									class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-center">
									<li class="home_slider_custom_dot active">01</li>
									<li class="home_slider_custom_dot">02</li>
									<li class="home_slider_custom_dot">03</li>
									<li class="home_slider_custom_dot">04</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="section_title text-center">Produits Populaires</div>
				</div>
			</div>
			<div class="row page_nav_row">
				<div class="col">
					<div class="page_nav">
						<ul class="d-flex flex-row align-items-start justify-content-center">
							{% for category in categories %}
							<li><a href="/?category={{category.id}}">{{category.name}}</a></li>
							{% endfor %}
							<!-- <li class="active"><a href="category.html">Ecouteur</a></li> -->
						</ul>
					</div>
				</div>
			</div>
			<div class="row products_row">
				<!-- Product -->
				{% for product in products %}
				<div class="col-xl-4 col-md-6">
					<div class="product" id={{product.id}}>
						<div class="product_image"><img src="{{product.image.url}}" alt=""></div>
						<div class="product_content">
							<div class="product_info d-flex flex-row align-items-start justify-content-start">
								<div>
									<div>
										<div class="product_name"><a href="product.html">{{product.name}}</a></div>
										<div class="product_category"><a>{{product.description}}</a>
										</div>
									</div>
								</div>
								<div class="ml-auto text-right">
									<div class="rating_r rating_r_4 home_item_rating">
										<i></i><i></i><i></i><i></i><i></i>
									</div>
									<div class="product_price text-right"><span>{{product.price|currency}}</span></div>
								</div>
							</div>
							<div class="product_buttons">
								<div class="text-right d-flex flex-row align-items-start justify-content-start">
									{% if product|is_in_cart:request.session.cart %}
									<div class="row no-gutters">
										<form action="/#{{product.id}}" class="col-2 " method="post">
											{% csrf_token %}
											<input hidden type="text" name='product' value='{{product.id}}'>
											<input hidden type="text" name='remove' value='True'>
											<input type="submit" value=" - "
												class="btn btn-block btn-success border-right">
										</form>
										<div class="text-center col btn btn-success">
											{{product|cart_quantity:request.session.cart}} in Cart</div>
										<form action="/#{{product.id}}" class="col-2 " method="post">
											{% csrf_token %}
											<input hidden type="text" name='product' value='{{product.id}}'>
											<input type="submit" value=" + "
												class="btn btn-block btn-success border-left">
										</form>
									</div>
									{% else %}
									<form action="/#{{product.id}}" method="POST" class="btn-block">
										{% csrf_token %}
										<input hidden type="text" name='product' value='{{product.id}}'>
										<input style="margin:0;" type="submit" class="btn btn-success form-control"
											value="Add To Cart">
									</form>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
			<div class="row load_more_row">
				<div class="col">
					<div class="button load_more ml-auto mr-auto"><a href="#">load more</a></div>
				</div>
			</div>
		</div>
	</div>


	<!-- Features -->

	<div class="features">
		<div class="container">
			<div class="row">

				<!-- Feature -->
				<div class="col-lg-4 feature_col">
					<div class="feature d-flex flex-row align-items-start justify-content-start">
						<div class="feature_left">
							<div class="feature_icon"><img src="{%static 'images/icon_1.svg' %}" alt=""></div>
						</div>
						<div class="feature_right d-flex flex-column align-items-start justify-content-center">
							<div class="feature_title">Fast Secure Payments</div>
						</div>
					</div>
				</div>

				<!-- Feature -->
				<div class="col-lg-4 feature_col">
					<div class="feature d-flex flex-row align-items-start justify-content-start">
						<div class="feature_left">
							<div class="feature_icon ml-auto mr-auto"><img src="{%static 'images/icon_2.svg' %}" alt="">
							</div>
						</div>
						<div class="feature_right d-flex flex-column align-items-start justify-content-center">
							<div class="feature_title">Premium Products</div>
						</div>
					</div>
				</div>

				<!-- Feature -->
				<div class="col-lg-4 feature_col">
					<div class="feature d-flex flex-row align-items-start justify-content-start">
						<div class="feature_left">
							<div class="feature_icon"><img src="{%static 'images/icon_3.svg' %}" alt=""></div>
						</div>
						<div class="feature_right d-flex flex-column align-items-start justify-content-center">
							<div class="feature_title">Free Delivery</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}